
 
 
 
    <h1>Restaurants</h1>
 
 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="secondary">
        <ion-icon color="light" name="search"></ion-icon>
      </ion-fab-button>
    </ion-fab>


    <ion-fab vertical="bottom" horizontal="sart" slot="fixed">
      <ion-fab-button color="secondary">
        <ion-icon color="light" name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab>