
 <h1>Voyages</h1>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button color="secondary">
    <ion-icon color="light" name="create"></ion-icon>
  </ion-fab-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary">
      <ion-icon color="light" name="navigate-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>

