<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Go-SMART
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon color="light" name="apps-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="presentPopover($event1)">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-segment
      #segment
      value="ion-sb-1"
      mode="md"
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button layout="icon-only">
        <ion-label>
          Acheter
        </ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Circuler</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Déguster</ion-label>
      </ion-segment-button>
      <ion-segment-button>
        <ion-label>Voyager</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides
    #slider
    pager="false"
    (ionSlideWillChange)="slideChanged()"
    [options]="slideOpts"
  >
    <ion-slide>
      <h1>Boutique</h1>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="secondary">
          <ion-icon color="light" name="search"></ion-icon>
        </ion-fab-button>
      </ion-fab>


      <ion-fab vertical="bottom" horizontal="sart" slot="fixed">
        <ion-fab-button color="secondary">
          <ion-icon color="light" name="create"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </ion-slide>
    <ion-slide>
      <app-chats></app-chats>
    </ion-slide>
    <ion-slide>
      <app-status></app-status>
    </ion-slide>
    <ion-slide>
      <app-calls></app-calls>
    </ion-slide>
  </ion-slides>
</ion-content>
